:root {
    --color: #750f30;
}


*, *::before, *::after {
    box-sizing: border-box;
}

body {
    font-size: 1.2rem;
    font-family: Times, serif;
}

a {
    color: #5c0d1c;
    text-decoration: none;
    position: relative;
}

a::before {
    content: "";
    position: absolute;
    height: 2px;
    width: 0;
    left: 0;
    bottom: 0;
    background: #5c0d1c;
    transition: width .7s ease;
}

a:hover::before {
    width: 100%;
}
